Repository tatamiya/deploying-machine-learning-models: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-regression-model-jobs, run-api-jobs

update version to test CI
  regression_model/pyproject.toml
Due: run-regression-model-jobs

update model version to test CI
  ml_api/requirements.txt
Due: run-api-jobs

clean: apply black to format
  regression_model/regression_model/config/__init__.py
  regression_model/regression_model/config/config.py
  regression_model/regression_model/config/logging_config.py
  regression_model/regression_model/pipeline.py
  regression_model/regression_model/predict.py
  regression_model/regression_model/processing/data_management.py
  regression_model/regression_model/processing/features.py
  regression_model/regression_model/processing/preprocessors.py
  regression_model/regression_model/processing/validation.py
  regression_model/regression_model/tests/test_predict.py
  regression_model/regression_model/train_pipeline.py
Due: run-regression-model-jobs

clean: remove unused import
  regression_model/regression_model/config/config.py
  regression_model/regression_model/config/logging_config.py
  regression_model/regression_model/pipeline.py
Due: run-regression-model-jobs

clean: apply isort to sort imports
  regression_model/regression_model/__init__.py
  regression_model/regression_model/config/config.py
  regression_model/regression_model/config/logging_config.py
  regression_model/regression_model/pipeline.py
  regression_model/regression_model/predict.py
  regression_model/regression_model/processing/data_management.py
  regression_model/regression_model/train_pipeline.py
Due: run-regression-model-jobs

fix typo
  regression_model/regression_model/processing/validation.py
Due: run-regression-model-jobs

clean: import local packages from root
  regression_model/regression_model/train_pipeline.py
Due: run-regression-model-jobs

update patch version
  regression_model/poetry.lock
  regression_model/pyproject.toml
Due: run-regression-model-jobs

add lint in CI for regression_model
  .circleci/continue_config.yml
Due: none

update version
  regression_model/pyproject.toml
Due: run-regression-model-jobs

fix CI dependency
  .circleci/continue_config.yml
Due: none

clean: separate requirements.txt
  ml_api/requirements.txt
  ml_api/requirements/common.txt
  ml_api/requirements/diff_test.txt
  ml_api/requirements/prod.txt
Due: run-api-jobs

add requirement file for dev
  ml_api/requirements/dev.txt
Due: run-api-jobs

clean: apply black to format
  ml_api/api/__init__.py
  ml_api/api/app.py
  ml_api/api/controller.py
  ml_api/api/validation.py
  ml_api/run.py
  ml_api/tests/capture_model_predictions.py
  ml_api/tests/conftest.py
  ml_api/tests/differential_tests/test_differential.py
  ml_api/tests/test_controller.py
  ml_api/tests/test_validation.py
Due: run-api-jobs

clean: remove unnecessary imports
  ml_api/api/validation.py
  ml_api/run.py
Due: run-api-jobs

clean: apply isort to sort imports
  ml_api/api/config.py
  ml_api/api/controller.py
  ml_api/api/validation.py
  ml_api/run.py
  ml_api/tests/capture_model_predictions.py
  ml_api/tests/differential_tests/test_differential.py
  ml_api/tests/test_controller.py
Due: run-api-jobs

add type annotation
  ml_api/api/config.py
Due: run-api-jobs

change requirements file name in CI
  .circleci/continue_config.yml
Due: none

change root requirements file
  requirements.txt
Due: none

change requirements file name in Dockerfile
  Dockerfile
Due: none

change requirements filename in github actions config
  .github/workflows/pythonpackage.yml
Due: none

add linter to CircleCI conf
  .circleci/continue_config.yml
Due: none

update API version
  ml_api/VERSION
Due: run-api-jobs

clean: add spaces to CI config
  .circleci/continue_config.yml
Due: none

change: modify CircleCI config to create venv for lint
  .circleci/continue_config.yml
Due: none

fix PYTHONPATH in CI
  .circleci/continue_config.yml
Due: none

fix flake8 target path in CI
  .circleci/continue_config.yml
Due: none

delete github actions
  .github/workflows/pythonpackage.yml
Due: none

add FastAPI dependency
  ml_api/requirements/common.txt
  ml_api/requirements/prod.txt
Due: run-api-jobs

change test for FastAPI
  ml_api/tests/test_controller.py
  ml_api/tests/test_validation.py
Due: run-api-jobs

add Makefile for lint and format in model
  regression_model/Makefile
Due: run-regression-model-jobs

update model version to pass CI
  regression_model/pyproject.toml
Due: run-regression-model-jobs

add Makfile for lint and format in ml_api
  ml_api/Makefile
Due: run-api-jobs

fix test
  ml_api/tests/test_controller.py
Due: run-api-jobs

add a test dependency
  ml_api/requirements/dev.txt
Due: run-api-jobs

change: direct replacement from Flask to FastAPI
  ml_api/api/app.py
  ml_api/api/controller.py
  ml_api/run.py
  ml_api/tests/conftest.py
Due: run-api-jobs

change tests
  ml_api/tests/differential_tests/test_differential.py
  ml_api/tests/test_validation.py
Due: run-api-jobs

update schema
  ml_api/api/schema.py
  ml_api/api/validation.py
Due: run-api-jobs

change API to use FastAPI
  ml_api/api/controller.py
Due: run-api-jobs

change run.sh for debug
  ml_api/run.sh
Due: run-api-jobs

Path conditions:
  run-regression-model-jobs: any of: regression_model/.*
  run-api-jobs: any of: ml_api/.*
